<div class="row">
  <div class="col-12 text-center">
    <h1>Your Cart <span *ngIf="games.length === 0">is Empty</span></h1>
  </div>
</div>
<div [@itemCard] *ngFor="let game of games" class="row game-card">
  <div class="col-sm-3">
    <a routerLink="/games/details/{{ game.id }}">
      <img class="img-responsive" src="{{ game.thumbnailUrl }}" (error)="changeSource($event, game.videoId)">
    </a>
  </div>
  <div class="col-sm-7">
    <h3>{{ game.title }}</h3>
    <p>{{ game.description | sliceString:'450' }}</p>
  </div>
  <div class="col-sm-2">
    <h2 class="price">
      {{ game.price | currency }}
    </h2>
    <button (click)="removeItem(game.id)" class="btn btn-danger btn-remove">
      Remove
    </button>
  </div>
</div>
<div *ngIf="games.length > 0" class="row">
  <div class="col-sm-8 text-right">
    <h1>
      <strong>Total Price - </strong>{{ totalPrice | currency }}
    </h1>
  </div>
  <div class="col-sm-4 action-buttons">
    <button (click)="clear()" class="btn btn-danger">
      Clear
    </button>
    <button (click)="order()" class="btn btn-success">
      Order
    </button>
  </div>
</div>