<RadSideDrawer>
  <FlexboxLayout justifyContent="space-between" flexDirection="column" tkDrawerContent class="drawer-container">
    <StackLayout>
      <Label
        *ngIf="authService.isAuthed"
        class="drawer-label username"
        textAlignment="center"
        textWrap="true"
        [text]="authService.user.username"
        (tap)="onChangePassword()">
      </Label>
      
      <Label *ngIf="!authService.isAuthed" (tap)="onLogin()" class="drawer-label" text="Login"></Label>
      <Label *ngIf="!authService.isAuthed" (tap)="onRegister()" class="drawer-label" text="Register"></Label>
      <Label *ngIf="authService.isAuthed" (tap)="onWishlist()" class="drawer-label" text="Wishlist"></Label>
      <Label *ngIf="authService.isAuthed" (tap)="onCart()" class="drawer-label" text="Cart"></Label>
    </StackLayout>

    <Label *ngIf="authService.isAuthed" (tap)="onLogout()" class="drawer-label" text="Logout"></Label>
  </FlexboxLayout>
  
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>