<RadSideDrawer>
  <FlexboxLayout justifyContent="space-between" flexDirection="column" tkDrawerContent class="drawer-container">
    <StackLayout>
      <Label class="user-info" textWrap="true" textAlignment="center" [text]="'Username'"></Label>
      <Button (tap)="onLoginTap()" class="drawer-button" text="Login"></Button>
      <Button (tap)="onRegisterTap()" class="drawer-button" text="Register"></Button>
      <Button (tap)="onWishlistTap()" class="drawer-button" text="Wishlist"></Button>
      <Button (tap)="onCartTap()" class="drawer-button" text="Cart"></Button>
    </StackLayout>
    <Button (tap)="onLogoutTap()" class="drawer-button" text="Logout"></Button>
  </FlexboxLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>