<RadSideDrawer>
  <FlexboxLayout justifyContent="space-between" flexDirection="column" tkDrawerContent class="drawer-container">
    <StackLayout>
      <Button class="drawer-button" text="Login"></Button>
      <Button class="drawer-button" text="Register"></Button>
      <Button class="drawer-button" text="Wishlist"></Button>
      <Button class="drawer-button" text="Cart"></Button>
    </StackLayout>
    <Button class="drawer-button" text="Logout"></Button>
  </FlexboxLayout>
  <StackLayout tkMainContent>
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>