<div class="row">
    <div class="offset-md-3 col-md-3">
        <EditForm Model="@categoryForm" OnValidSubmit="OnSaveCategory">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label for="name">Name</label>
                <InputText
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Name" 
                    @bind-Value="categoryForm.Name" />
                <ValidationMessage For="@(() => categoryForm.Name)" />
            </div>      
            <button type="submit" class="btn btn-outline-dark">
                Save Category
            </button>
        </EditForm>
    </div>
</div>