<div class="row">
  <div class="col-md-offset-3 col-md-3">
    <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
        <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
          {{ formService.getErrorMessage(name, 'Name') }}
        </div>
      </div>      
      <button type="submit" class="btn btn-default" [disabled]="!categoryForm.valid">Save Category</button>
    </form>
  </div>
</div>