<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand nav-element font-weight-bold" routerLink="/">Game Box</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle font-weight-bold text-white"
          href="#"
          id="categoriesDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="onCategoriesMenuClick()">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
          <a
            class="dropdown-item"
            *ngFor="let category of categories$ | async"
            routerLink="/games/{{ category.id }}/games">
            {{ category.name }}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white" *ngIf="authService.isAuthed" routerLink="/games/owned">
          Owned
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white" *ngIf="authService.isAuthed" routerLink="/wishlist/items">
          Wishlist
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-white" routerLink="/cart/items">
          Cart
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav">
      <li class="nav-item dropdown" *ngIf="authService.isAdmin">
        <a
          class="nav-link dropdown-toggle font-weight-bold text-white"
          href="#"
          id="adminDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown">
          <a class="dropdown-item" [routerLink]="['/games', 'create']">Add Game</a>
          <a class="dropdown-item" routerLink="/games/all">Games</a>
          <a class="dropdown-item" routerLink="/categories/all">Categories</a>
          <a class="dropdown-item" routerLink="/orders/all">Orders</a>
          <a class="dropdown-item" routerLink="/users/all">Users</a>
          <a class="dropdown-item" routerLink="/users/create">Add User</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthed">
        <a class="nav-link font-weight-bold text-white" routerLink="/auth/change-password">
          {{ authService.user.username }}
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthed">
        <a class="nav-link font-weight-bold text-white" (click)="onLogout()">
          Logout
        </a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthed">
        <a class="nav-link font-weight-bold text-white" routerLink="/auth/login">
          Login
        </a>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthed">
        <a class="nav-link font-weight-bold text-white" routerLink="/auth/register">
          Register
        </a>
      </li>
    </ul>
  </div>
</nav>