<div class='row'>
  <div class='col-md-offset-2 col-md-6'>
    <h2>Search Users</h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-2 col-md-offset-2'>
    <form [formGroup]="searchForm">
      <input formControlName="username" name='username' type='text' class='form-control' placeholder='Search...' />
    </form>
  </div>
</div>
<br />
<div class='row'>
  <div class="col-md-8 col-md-offset-2">
    <table class='table'>
      <thead>
        <tr>
          <th>Username</th>
          <th>Lock</th>
          <th>Admin Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>
            <button *ngIf="!user.isLocked" class='btn btn-danger btn-sm' (click)="lock(user.username)">Lock</button>
            <button *ngIf="user.isLocked" class='btn btn-success btn-sm' (click)="unlock(user.username)">Unlock</button>
          </td>
          <td>
            <button *ngIf="user.isAdmin" class='btn btn-danger btn-sm' (click)="removeRole(user.username, 'Admin')">Remove Role</button>
            <button *ngIf="!user.isAdmin" class='btn btn-success btn-sm' (click)="addRole(user.username, 'Admin')">Add Role</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>