<ns-action-bar title="Login" [showBackButton]="false"></ns-action-bar>

<ActivityIndicator class="activity-indicator" [busy]="loading"></ActivityIndicator>

<StackLayout class="form" [formGroup]="loginForm">
  <StackLayout class="input-field">
    <Label class="label" text="Username" [ngClass.invalid]="username.invalid"></Label>

    <TextField
      class="input"
      returnKeyType="next"
      [autocorrect]="false"
      autocapitalizationType="none"
      formControlName="username">
    </TextField>
  </StackLayout>

  <StackLayout class="input-field">
    <Label class="label" text="Password"></Label>

    <TextField
      class="input"
      returnKeyType="done"
      [autocorrect]="false"
      autocapitalizationType="none"
      [secure]="true"
      formControlName="password"
      (returnPress)="onLogin()">
    </TextField>
  </StackLayout>

  <Button
    text="Login" 
    class="test"
    (tap)="onLogin()"
    [isEnabled]="loginForm.valid"
    *ngIf="!isLoading">
  </Button>
</StackLayout>