<div class="row">
    <div class="offset-md-2 col-md-6">
        <h2>Search Games</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2 offset-md-2">
        <SearchForm OnTextChange="SearchGames" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Orders</th>
                    <th>Views</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in games)
                {
                    <tr>
                        <td>@game.Title</td>
                        <td>@game.OrderCount</td>
                        <td>@game.ViewCount</td>
                        <td>@game.Price.ToString("C2")</td>
                        <td>
                            <a 
                                class="btn btn-outline-warning btn-sm"
                                href="/games/edit?gameId=@game.Id">
                                Edit
                            </a>
                            <a
                                class="btn btn-outline-danger btn-sm ml-3"
                                href="/games/delete/@game.Id">
                                Delete
                            </a>
                        </td>
                    </tr>                    
                }
            </tbody>
        </table>
    </div>
</div>