<ns-action-bar title="Wishlist"></ns-action-bar>

<ActivityIndicator class="activity-indicator" [busy]="!(games$ | async)"></ActivityIndicator>

<ScrollView *ngIf="games$ | async">
  <StackLayout>
    <GridLayout
      class="games-container"
      rows="*, *, *, *"
      columns="3*, *"
      *ngFor="let game of games$ | async">

      <Label
        class="game-title"
        textAlignment="center"
        textWrap="true"
        row="0"
        col="0"
        colSpan="2"
        [text]="game.title">
      </Label>

      <Image
        class="game-image"
        row="1"
        col="0"
        rowSpan="3"
        [src]="game.thumbnailUrl"
        stretch="aspectFit">
      </Image>

      <Label
        class="game-price"
        textAlignment="right"
        textWrap="true"
        horizontalAlignment="center"
        verticalAlignment="center"
        row="1"
        col="1"
        [text]="game.price | currency">
      </Label>

      <Button
        (tap)="onAddItem(game.id)"
        class="action-button"
        text="Buy"
        row="2"
        col="1">
      </Button>

      <Button
        (tap)="onRemoveItem(game.id)"
        class="action-button"
        text="Remove"
        row="3"
        col="1">
      </Button>
    </GridLayout>

    <GridLayout class="actions-container" columns="*, *" rows="60" *ngIf="(games$ | async)?.length !== 0">
      <Button (tap)="onClear()" class="action-button" text="Clear" col="1"></Button>
    </GridLayout>

    <Label
      *ngIf="(games$ | async)?.length === 0"
      textAlignment="center"
      class="wishlist-empty"
      text="Your wishlist is empty">
    </Label>
  </StackLayout>
</ScrollView>