$mainColor: #4e5d6c;
$white: #FFF;
$black: #000;

.activity-indicator {
  width: 70;
  height: 70;
  color: $mainColor;
}

.drawer-container {
  margin-top: 56;
  background: $white;
  padding-top: 40;
  padding-bottom: 30;
  padding-left: 50;
  padding-right: 35;

  .drawer-label {
    font-size: 19;
    font-weight: bold;
    color: $mainColor;
    margin-bottom: 20;

    &.username {
      font-size: 20;
      padding-bottom: 20;
    }
  }
}

.form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  .input-field {
    width: 80%;

    .label {
      color: $mainColor;
      font-size: 16;
      margin-top: 50;
    }

    .input {
      width: 100%;
      border-bottom-width: 1;
      border-bottom-color: $mainColor;
    }
  }

  .submit-button {
    width: 81%;
    color: $white;
    background-color: $mainColor;
    height: 60;
    margin-top: 50;
  }
}
