@import '../../../../../app.scss';

.game-container {
  padding: 5;

  .game-title {
    font-size: 20;
    font-weight: bold;
    color: $black;
    padding-top: 15;
    padding-bottom: 20;
  }

  .game-details {
    color: $black;
    font-weight: bold;
    padding-top: 15;
    padding-bottom: 15;
  }
}
