<PullToRefresh (refresh)="onPullToRefresh()">
  <ListView [items]="games" separatorColor="#4e5d6c" (loadMoreItems)="onLoadMoreGames()">
    <ng-template let-game="item">
      <GridLayout
        (tap)="onNavigateToDetails(game.id)"
        class="game-container"
        rows="*, *, *"
        columns="*">
        <label
          class="game-title"
          row="0"
          [text]="game.title"
          textAlignment="center"
          textWrap="true">
        </label>

        <Image row="1" [src]="game.thumbnailUrl" stretch="aspectFit"></Image>
    
        <label 
          textAlignment="center"
          class="game-details"
          row="2"
          [text]="(game.price | currency) + ' | ' + game.size + 'GB | ' + game.viewCount + ' Views'">
        </label>
      </GridLayout>
    </ng-template>
  </ListView>
</PullToRefresh>