<GridLayout rows="*, 70">
  <ListView row="0" [items]="games" separatorColor="#4e5d6c">
    <ng-template let-game="item">
      <GridLayout
        (tap)="onNavigateToDetails(game.id)"
        class="game-container"
        height="90"
        rows="2*, *"
        columns="160, *">    
        <Image row="0" col="0" rowSpan="2" [src]="game.thumbnailUrl" stretch="aspectFit"></Image>
    
        <label class="game-title" row="0" col="1" [text]="game.title" textWrap="true"></label>
    
        <label 
          class="game-details"
          row="1"
          col="1"
          [text]="(game.price | currency) + ' ' + game.size + 'GB Hits: ' + game.viewCount"
          verticalAlignment="bottom">
        </label>        
      </GridLayout>
    </ng-template>
  </ListView>

  <Button (tap)="onLoadMoreGames()" class="load-more-button" row="1" text="Load More Games"></Button>
</GridLayout>