<PullToRefresh (refresh)="onPullToRefresh()">
  <ListView [items]="games" separatorColor="#fff" (loadMoreItems)="onLoadMoreGames()">
    <ng-template let-game="item">
      <GridLayout
        (tap)="onNavigateToDetails(game.id)"
        class="game-container"
        rows="*, *, *"
        columns="*">
        <Image row="0" [src]="game.thumbnailUrl" stretch="aspectFit"></Image>
    
        <label
          class="game-title"
          row="1"
          [text]="game.title"
          textAlignment="center"
          textWrap="true">
        </label>
    
        <label 
          textAlignment="center"
          class="game-details"
          row="2"
          [text]="(game.price | currency) + ' ' + game.size + 'GB Hits: ' + game.viewCount">
        </label>
      </GridLayout>
    </ng-template>
  </ListView>
</PullToRefresh>