<div class="row">
  <div class="offset-md-3 col-md-5">
    <form [formGroup]="gameForm" (ngSubmit)="saveGame()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          id="title"
          placeholder="Title">
        <div
          *ngIf="getField('title').touched && getField('title').invalid"
          class="alert alert-danger">
          {{ formService.getErrorMessage(getField('title'), 'Title') }}
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          formControlName="description"
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          rows="5">
        </textarea>
        <div
          *ngIf="getField('description').touched && getField('description').invalid"
          class="alert alert-danger">
          {{ formService.getErrorMessage(getField('description'), 'Description') }}
        </div>
      </div>
      <div class="form-group">
        <label for="thumbnailUrl">Thumbnail</label>
        <input
          formControlName="thumbnailUrl"
          type="text"
          class="form-control"
          id="thumbnailUrl"
          placeholder="Thumbnail Url">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input
          formControlName="price"
          type="number"
          class="form-control"
          id="price"
          placeholder="Price">
        <div
          *ngIf="getField('price').touched && getField('price').invalid"
          class="alert alert-danger">
          {{ formService.getErrorMessage(getField('price'), 'Price') }}
        </div>
      </div>
      <div class="form-group">
        <label for="size">Size</label>
        <input
          formControlName="size"
          type="number"
          class="form-control"
          id="size"
          placeholder="Size">
        <div
          *ngIf="getField('size').touched && getField('size').invalid"
          class="alert alert-danger">
          {{ formService.getErrorMessage(getField('size'), 'Size') }}
        </div>
      </div>
      <div class="form-group">
        <label for="videoId">YouTube Video URL</label>
        <input
          formControlName="videoId"
          type="text"
          class="form-control"
          id="videoId"
          placeholder="YouTube Video URL">
        <div
          *ngIf="getField('videoId').touched && getField('videoId').invalid"
          class="alert alert-danger">
          {{ formService.getErrorMessage(getField('videoId'), 'Video Id') }}
        </div>
      </div>
      <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input
          formControlName="releaseDate"
          type="date"
          class="form-control"
          id="releaseDate"
          placeholder="Release Date">
        <div
          *ngIf="getField('releaseDate').touched && getField('releaseDate').invalid"
          class="alert alert-danger">
          {{ formService.getErrorMessage(getField('releaseDate'), 'Release Date') }}
        </div>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" formControlName="categoryId" id="category">
          <option value="none" selected="selected">--Select Category--</option>
          <option *ngFor="let category of categories$ | async" value="{{ category.id }}">
            {{ category.name }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-dark" [disabled]="!gameForm.valid">
        Save Game
      </button>
    </form>
  </div>
</div>