<div class="row">
  <div class="offset-md-3 col-md-3">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" type="password" class="form-control" id="oldPassword" placeholder="Old Password">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
          {{ formService.getErrorMessage(oldPassword, 'Old Password') }}
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="New Password">
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger">
          {{ formService.getErrorMessage(newPassword, 'New Password') }}
        </div>
      </div>
      <div class="form-group">
        <label for="repeatPassword">Repeat Password</label>
        <input formControlName="repeatPassword" type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password">
        <div *ngIf="repeatPassword.touched && newPassword.value !== repeatPassword.value" class="alert alert-danger">
            {{ formService.getMismatchFieldMessage('New Password', 'Repeat Password') }}
          </div>
      </div>
      <button type="submit" class="btn btn-outline-dark" [disabled]="!changePasswordForm.valid">Change Password</button>
    </form>
  </div>
</div>