@import '../../../../../app.scss';

.game-comment {
  padding-top: 10;
  padding-bottom: 10;
  color: $black;
  padding-left: 10;
  padding-right: 10;

  .comment-author {
    font-size: 18;
    font-weight: bold;
  }

  .comment-content {
    padding-top: 10;
    padding-bottom: 10;
    font-size: 15;
  }

  .comment-date {
    font-weight: bold;
  }
}
