<div class="row">
  <div class="col-12 text-center">
    <h1>
      Your Wishlist
      <span *ngIf="(games$ | async).length === 0">is Empty</span>
    </h1>
  </div>
</div>

<app-game-list-items
  [games]="games$ | async"
  [showBuyButton]="true"
  (removeItemClick)="onRemoveItem($event)"
  (buyItemClick)="onBuyItem($event)">
</app-game-list-items>

<div *ngIf="(games$ | async).length > 0" class="row">
  <div class="offset-sm-10 col-sm-2 action-button">
    <button (click)="onClearItems()" class="btn btn-outline-danger">
      Clear
    </button>
  </div>
</div>