<ns-action-bar title="Games" [showBackButton]="false"></ns-action-bar>

<ActivityIndicator class="activity-indicator" [busy]="loading"></ActivityIndicator>

<Tabs *ngIf="!loading">
  <TabStrip class="tabs">
    <TabStripItem>
      <Label text="Games"></Label>
    </TabStripItem>

    <TabStripItem>
      <Label text="Owned"></Label>
    </TabStripItem>
  </TabStrip>

  <TabContentItem>
    <ns-game-items
      (pullToRefresh)="reloadGames()"
      (loadTap)="loadGames()"
      (detailsTap)="navigateToDetails($event)"
      [games]="games">
    </ns-game-items>
  </TabContentItem>
      
  <TabContentItem>
    <ns-game-items
      (pullToRefresh)="reloadGames()"
      (loadTap)="loadOwned()"
      (detailsTap)="navigateToDetails($event)"
      [games]="owned">
    </ns-game-items>
  </TabContentItem>
</Tabs>