<ns-action-bar title="Games" [showBackButton]="false"></ns-action-bar>

<ActivityIndicator class="activity-indicator" [busy]="loading"></ActivityIndicator>

<MDTabs *ngIf="!loading">
  <MDTabStrip class="tabs">
    <MDTabStripItem>
      <Label text="Games"></Label>
    </MDTabStripItem>

    <MDTabStripItem>
      <Label text="Owned"></Label>
    </MDTabStripItem>
  </MDTabStrip>

  <MDTabContentItem>
    <ns-game-items
      (pullToRefresh)="reloadGames()"
      (loadTap)="loadGames()"
      (detailsTap)="navigateToDetails($event)"
      [games]="games">
    </ns-game-items>
  </MDTabContentItem>
      
  <MDTabContentItem>
    <ns-game-items
      (pullToRefresh)="reloadGames()"
      (loadTap)="loadOwned()"
      (detailsTap)="navigateToDetails($event)"
      [games]="owned">
    </ns-game-items>
  </MDTabContentItem>
</MDTabs>