<div class="row">
  <div class="offset-md-2 col-md-6">
    <h2>Search Users</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2 offset-md-2">
    <app-search-form [fieldName]="'username'" (textChange)="setUsername($event)"></app-search-form>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Lock</th>
          <th>Admin Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{ user.username }}</td>
          <td>
            <button 
              *ngIf="!user.isLocked"
              class="btn btn-outline-warning btn-sm"
              (click)="onLock(user.username)">
              Lock
            </button>
            <button
              *ngIf="user.isLocked"
              class="btn btn-outline-success btn-sm"
              (click)="onUnlock(user.username)">
              Unlock
            </button>
          </td>
          <td>
            <button
              *ngIf="user.isAdmin"
              class="btn btn-outline-warning btn-sm"
              (click)="onRemoveRole(user.username, 'Admin')">
              Remove Role
            </button>
            <button
              *ngIf="!user.isAdmin"
              class="btn btn-outline-success btn-sm"
              (click)="onAddRole(user.username, 'Admin')">
              Add Role
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>