<ns-action-bar title="Details"></ns-action-bar>

<ActivityIndicator class="activity-indicator" [busy]="loading"></ActivityIndicator>

<ScrollView *ngIf="!loading">
  <StackLayout>
    <WebView *ngIf="embedHtml" [src]="embedHtml" (loaded)="onWebViewLoaded($event)"></WebView>

    <Label class="game-title" [text]="game.title" textWrap="true" textAlignment="center"></Label>
    <label class="game-description" [text]="game.description" textWrap="true" textAlignment="initial"></label>

    <GridLayout class="actions-wrapper" rows="30, 30, 30, 30" columns="*, 2*">
      <Button (tap)="onAddToCart(game.id)" class="action-button" row="0" col="0" rowSpan="2" text="Buy"></Button>
      <Button (tap)="onAddToWishlist(game.id)" class="action-button" row="2" col="0" rowSpan="2" text="Wishlist"></Button>

      <Label class="game-details" row="0" col="1" [text]="'Price - ' + (game.price | currency)"></Label>
      <Label class="game-details" row="1" col="1" [text]="'Size - ' + game.size + 'GB'"></Label>
      <Label class="game-details" row="2" col="1" [text]="'Date - ' + (game.releaseDate | date)"></Label>
      <Label class="game-details" row="3" col="1" [text]="'Views - ' + game.viewCount"></Label>
    </GridLayout>
  </StackLayout>
</ScrollView>