<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed nav-element"
          data-toggle="collapse"
          data-target="#collapse-target"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand nav-element" routerLink="/">
          Game Box
        </a>
      </div>
      <div class="collapse navbar-collapse" id="collapse-target">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a
              href="#"
              class="dropdown-toggle nav-element"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
              Categories
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let category of categories$ | async">
                <a routerLink="/games/{{ category.id }}/games">
                  {{ category.name }}
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a *ngIf="authHelperService.isAuthed" class="nav-element" routerLink="/games/owned">
              Owned
            </a>
          </li>
          <li>
            <a *ngIf="authHelperService.isAuthed" class="nav-element" routerLink="/wishlist/items">
              Wishlist
            </a>
          </li>
          <li>
            <a class="nav-element" routerLink="/cart/items">
              Cart
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="authHelperService.isAdmin" class="dropdown">
            <a
              href="#"
              class="dropdown-toggle nav-element"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
              Admin
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/games', 'create']">Add Game</a></li>
              <li><a routerLink="/games/all">Games</a></li>
              <li><a routerLink="/categories/all">Categories</a></li>
              <li><a routerLink="/orders/all">Orders</a></li>
              <li><a routerLink="/users/all">Users</a></li>
              <li><a routerLink="/users/create">Add User</a></li>
            </ul>
          </li>
          <li>
            <a class="nav-element" *ngIf="authHelperService.isAuthed" routerLink="/auth/changePassword">
              Hello {{ authHelperService.user.username }}!
            </a>
          </li>
          <li>
            <a class="nav-element btn" *ngIf="authHelperService.isAuthed" (click)="onLogout()">
              Logout
            </a>
          </li>
          <li>
            <a class="nav-element" *ngIf="!authHelperService.isAuthed" routerLink="/auth/login">
              Login
            </a>
          </li>
          <li>
            <a class="nav-element" *ngIf="!authHelperService.isAuthed" routerLink="/auth/register">
              Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>