<div class="row">
  <div class="col-12 text-center">
    <h1>Your Cart <span *ngIf="(games$ | async).length === 0">is Empty</span></h1>
  </div>
</div>

<app-game-list-items
  [games]="games$ | async"
  (removeItemClick)="onRemoveItem($event)">
</app-game-list-items>

<div *ngIf="(games$ | async).length > 0" class="row">
  <div class="col-sm-9 text-right mt-3">
    <h1>
      <strong>Total Price - </strong>{{ calculateTotalPrice(games$ | async) | currency }}
    </h1>
  </div>
  <div class="col-sm-3 mt-4">
    <button (click)="onClear()" class="btn btn-outline-danger mr-3">
      Clear
    </button>
    <button (click)="onCreateOrder()" class="btn btn-outline-success">
      Order
    </button>
  </div>
</div>