@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.validation-message {
    color: red;
}

.blazored-toast {
    margin-top: 3rem !important;
}
