div.card.thumbnail {
  background-color: white;
}

img.card-image-top {
  min-width: 100%;
}

div.row.card-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.game-col {
  min-width: 33%;
}
