<div class="row card-row">
  <div *ngFor="let game of games" class="col-md-4 game-col mb-3">
    <div class="card thumbnail" [@itemCard]>
      <a routerLink="/games/details/{{game.id}}">
        <img
          class="img-fluid card-image"
          src="{{ game.thumbnailUrl }}"
          (error)="changeSource($event, game.videoId)">
      </a>
      <div class="p-3">
        <h4 class="pb-2">{{ game.title }}</h4>
        <p>
          <strong>Price</strong> - {{ game.price.toFixed(2) | currency }}
        </p>
        <p>
          <strong>Size</strong> - {{ game.size.toFixed(1) }} GB
        </p>
        <p>
          <strong>Views</strong> - {{ game.viewCount }}
        </p>
        <p class="mb-0">
          {{ game.description | sliceString }}
        </p>
      </div>
    </div>
  </div>
</div>