<ng-container *ngIf="(game$ | async) as game">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="mt-3">{{ game.title }}</h1>
      <iframe class="game-i-frame my-2" [src]="videoId" frameborder="0" allowfullscreen>
      </iframe>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8 py-3">
      <p>{{ game.description }}</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-4 col-md-2">
      <p>
        <strong>Price</strong> - {{ game.price | currency }}
      </p>
      <p>
        <strong>Size</strong> - {{ game.size }} GB
      </p>
      <p>
        <strong>Release Date</strong> - {{ game.releaseDate | date}}
      </p>
      <p>
        <strong>Views</strong> - {{ game.viewCount }}
      </p>
    </div>
    <div class="col-md-4">
      <a 
        *ngIf="authService.isAdmin"
        class="btn btn-sm btn-outline-warning action-button"
        [routerLink]="['/games', 'edit']"
        [queryParams]="{ id: game.id }">
        Edit
      </a>
      <a
        *ngIf="authService.isAdmin"
        class="btn btn-sm btn-outline-danger action-button"
        [routerLink]="['/games/delete', game.id]">
        Delete
      </a>
      <button
        (click)="onAddItemToCart(game.id)"
        class="btn btn-sm btn-outline-success action-button"
        routerLink="/cart/items">
        Buy
      </button>
      <button
        *ngIf="authService.isAuthed"
        (click)="onAddItemToWishlist(game.id)"
        class="btn btn-sm btn-outline-dark action-button"
        routerLink="/wishlist/items">
        Wishlist
      </button>
      <a class="btn btn-sm btn-outline-dark action-button" routerLink="/">
        Back
      </a>
    </div>
  </div>
</ng-container>