<div [@itemCard] *ngFor="let game of games" class="row mt-3">  
  <div class="col-sm-3">
    <a routerLink="/games/details/{{ game.id }}">
      <img class="img-fluid" src="{{ game.thumbnailUrl }}" (error)="changeSource($event, game.videoId)">
    </a>
  </div>
  <div class="col-sm-7">
    <h3>{{ game.title }}</h3>
    <p>{{ game.description | sliceString:450 }}</p>
  </div>
  <div class="col-sm-2">
    <h2 class="price">
      {{ game.price | currency }}
    </h2>
    <button *ngIf="showBuyButton" (click)="onBuyItem(game.id)" class="btn btn-outline-success mr-3">
      Buy
    </button>
    <button (click)="onRemoveItem(game.id)" class="btn btn-outline-danger">
      Remove
    </button>
  </div>
</div>