@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject ConfigurationSettings configuration
@inject NavigationManager NavigationManager

<Navigation />

<div class="container-fluid" style="margin-top: 70px; margin-bottom: 60px">
    @Body
</div>

<Footer />

@code {
    protected override async Task OnInitializedAsync()
    {
        await this.CheckUser();
        this.AuthService.OnUserUpdatedAsync += this.CheckUser;
    }

    private async Task CheckUser()
    {
        var isAdmin = await this.AuthService.IsAdmin();
        var loginUrl = configuration.BaseAppUrl + "auth/login";

        if(!isAdmin && this.NavigationManager.Uri != loginUrl)
        {
            NavigationManager.NavigateTo("/auth/login");
        }
    }
}