@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject ConfigurationSettings Configuration
@inject NavigationManager Router

<Navigation />

<div class="container-fluid" style="margin-top: 70px; margin-bottom: 60px">
    @Body
    <BlazoredToasts Position="ToastPosition.BottomRight" Timeout="3" />
</div>

<Footer />

@code {
    protected override async Task OnInitializedAsync()
    {
        await this.CheckUserAsync();
        this.AuthService.OnUserUpdatedAsync += this.CheckUserAsync;
        this.Router.LocationChanged += async (s, a) => await this.CheckUserAsync();
    }

    private async Task CheckUserAsync()
    {
        var loginUrl = this.Configuration.BaseAppUrl + "auth/login";
        if (this.Router.Uri == loginUrl)
        {
            return;
        }

        var isAdmin = await this.AuthService.IsAdmin();
        if(!isAdmin)
        {
            this.Router.NavigateTo("/auth/login");
        }
    }
}