@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject ConfigurationSettings Configuration
@inject NavigationManager Router

<Navigation />

<div class="container-fluid" style="margin-top: 70px; margin-bottom: 60px">
    @Body
    <BlazoredToasts Position="ToastPosition.TopRight" Timeout="3" />
</div>

<Footer />

@code {
    protected override async Task OnInitializedAsync()
    {
        await this.ProtectRoutesAsync();
        this.Router.LocationChanged += async (sender, args) => await this.ProtectRoutesAsync();
    }

    private async Task ProtectRoutesAsync()
    {
        var loginUrl = this.Configuration.BaseAppUrl + "auth/login";
        if (this.Router.Uri == loginUrl)
        {
            return;
        }

        var isAdmin = await this.AuthService.IsAdmin();
        if (isAdmin && this.Router.Uri == this.Configuration.BaseAppUrl)
        {
            this.Router.NavigateTo("/games/all");
        }
        else if(!isAdmin && this.Router.Uri != loginUrl)
        {
            this.Router.NavigateTo("/auth/login");
        }
    }
}