@implements IDisposable
@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject ConfigurationSettings Configuration
@inject NavigationManager Router

<Navigation />

<div class="container-fluid" style="margin-top: 70px; margin-bottom: 60px">
    @if (shouldRenderBody)
    {
        @Body        
    }

    <BlazoredToasts Position="ToastPosition.TopRight" Timeout="3" />
</div>

<Footer />

@code {
    public bool shouldRenderBody = false;
    private event EventHandler<LocationChangedEventArgs> protectRoute;

    protected override async Task OnInitializedAsync()
    {
        await this.ProtectRoutesAsync();
        this.protectRoute = async (sender, args) => await this.ProtectRoutesAsync();
        this.Router.LocationChanged += this.protectRoute;
        this.shouldRenderBody = true;
    }

    public void Dispose()
    {
        this.Router.LocationChanged -= this.protectRoute;
    }

    private async Task ProtectRoutesAsync()
    {
        var loginUrl = this.Configuration.BaseAppUrl + "auth/login";
        if (this.Router.Uri == loginUrl)
        {
            return;
        }

        var isAdmin = await this.AuthService.IsAdmin();
        if (isAdmin && this.Router.Uri == this.Configuration.BaseAppUrl)
        {
            this.Router.NavigateTo("/games/all");
        }
        else if(!isAdmin && this.Router.Uri != loginUrl)
        {
            this.Router.NavigateTo("/auth/login");
        }
    }
}