<ns-action-bar title="Details"></ns-action-bar>

<ActivityIndicator class="activity-indicator" [busy]="loading"></ActivityIndicator>

<ScrollView *ngIf="!loading" (tap)="dismissKeyboard()">
  <StackLayout>
    <WebView *ngIf="embedHtml" [src]="embedHtml" (loaded)="onWebViewLoaded($event)"></WebView>

    <Label class="game-title" [text]="game.title" textWrap="true" textAlignment="center"></Label>
    <label class="game-description" [text]="game.description" textWrap="true" textAlignment="initial"></label>

    <GridLayout class="actions-wrapper" rows="30, 30, 30, 30, 60" columns="*, *, *">
      <Button (tap)="onAddToCart(game.id)" class="action-button" row="0" col="0" rowSpan="2" text="Buy"></Button>
      <Button (tap)="onAddToWishlist(game.id)" class="action-button" row="2" col="0" rowSpan="2" text="Wishlist"></Button>
      <Button (tap)="onToggleCommentForm()" class="action-button" row="4" col="0" text="Comment"></Button>
      <Button *ngIf="showCommentForm" (tap)="onSaveComment()" class="action-button save-button" row="4" col="1" text="Save"></Button>

      <Label class="game-details" row="0" col="1" colSpan="2" [text]="'Price - ' + (game.price | currency)"></Label>
      <Label class="game-details" row="1" col="1" colSpan="2" [text]="'Size - ' + game.size + 'GB'"></Label>
      <Label class="game-details" row="2" col="1" colSpan="2" [text]="'Date - ' + (game.releaseDate | date)"></Label>
      <Label class="game-details" row="3" col="1" colSpan="2" [text]="'Views - ' + game.viewCount"></Label>
    </GridLayout>

    <StackLayout class="form" [formGroup]="commentForm" *ngIf="showCommentForm">
      <StackLayout class="input-field">    
        <TextView
          class="input"
          returnKeyType="done"
          [autocorrect]="false"
          [minheight]="120"
          autocapitalizationType="none"
          formControlName="content"
          (returnPress)="onSaveComment()">
        </TextView>
      </StackLayout>
    </StackLayout>

    <ns-game-comments [comments]="comments"></ns-game-comments>
  </StackLayout>
</ScrollView>