<div>
  <div class='row'>
    <div class='col-md-6 offset-md-2'>
      <h2>Orders</h2>
      <form class="form-inline" [formGroup]="dateRange" (ngSubmit)="filterOrders()">
        <div class="form-group mr-3">
          <label for="startDate">Start Date: </label>
          <input formControlName="startDate" type="date" class="form-control ml-3" id="startDate" placeholder="Start Date">
        </div>
        <div class="form-group">
          <label for="endDate">End Date: </label>
          <input formControlName="endDate" type="date" class="form-control ml-3" id="endDate" placeholder="End Date">
        </div>
        <button type="submit" class="btn btn-outline-dark ml-3">Search</button>
      </form>
    </div>
  </div>
  <br />
  <div class='row'>
    <div class="col-md-8 offset-md-2">
      <table class='table'>
        <thead>
          <tr>
            <th>Username</th>
            <th>Time Stamp</th>
            <th>Price</th>
            <th>Games</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let order of orders$ | async">
            <tr>
              <td>{{ order.username }}</td>
              <td>{{ order.timeStamp | date:'medium' }}</td>
              <td>{{ order.price | currency }}</td>
              <td>{{ order.gamesCount }}</td>
            </tr>
            <tr *ngFor="let game of order.games">
              <td class="text-right" colspan="4">
                <a
                  class="mr-4 pr-4"
                  [routerLink]="['/games', 'edit']"
                  [queryParams]="{ id: game.id }">
                  {{ game.title }} | {{ game.price | currency }} | Views: {{ game.viewCount }} | Orders: {{ game.orderCount }}
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>