<div class="row">
  <div class="col-md-offset-2 col-md-6">
    <h2>Search Games</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <app-search-form [fieldName]="'game'" (textChange)="searchGames($event)"></app-search-form>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Orders</th>
          <th>Views</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games$ | async">
          <td>{{ game.title }}</td>
          <td>{{ game.orderCount }}</td>
          <td>{{ game.viewCount }}</td>
          <td>{{ game.price | currency }}</td>
          <td>
            <a 
              class="btn btn-warning btn-sm"
              [routerLink]="['/games', 'edit']"
              [queryParams]="{ id: game.id }">
              Edit
            </a>
            <a
              class="btn btn-danger btn-sm btn-delete"
              [routerLink]="['/games/delete/', game.id]">
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>